<!DOCTYPE html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="Dashboard">
<meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
<title>Dashio - Bootstrap Admin Template</title>
{% include 'header.html.twig' %}
</head>
<html lang="en">
	<body>
		<section id="container">
			<!--Barre d'en haut-->
			{% include 'top_bar.html.twig' %}
			<!--Menu de gauche-->
			{% include 'side_menu.html.twig' %}
			<!--Barre de recherche accueil-->
			<section id="main-content"> 
				<section class="wrapper">
					<div class="row">
						<div class="main-chart w-100">
							<h1><center>Détail de l'annonce</center></h1>
							<div class="row w-75 mt-5 ml-auto mr-auto">
								<h2>{{annonce.nom}}</h2>
								<p>{{annonce.tarif}}</p>
								<p>{{annonce.adresse}}</p>
								<img style="width:200px; height:200px;" src="{{ asset('build/img/annonces/' ~ annonce.image) }}" class="card-img-top ml-auto mr-auto" alt="...">
								<div class="card-body">
									<p class="card-text">{{annonce.description}}</p>
								</div>
							</div>
						</div>
					</div> 
				</section>
			</section>
		</section>          
	</body>
</html>
