<!DOCTYPE html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="Dashboard">
<meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
<title>Dashio - Bootstrap Admin Template</title>
{% include 'header.html.twig' %}

	<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
	<script async defer
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyOzx1FZ-gqrnwi6ttf8hW01VH4Xd6tSU&callback=initMap&libraries=&v=weekly">
	</script>
	<style type="text/css">
		/* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
		#map {
			height: 100%;
			width: 100%;
			margin: auto;
		}

		/* Optional: Makes the sample page fill the window. */
		html,
		body {
			height: 100%;
			margin: 0;
			padding: 0;
		}
	</style>
	<script>
		var panorama;
		var marker;
		function initMap(){
			var adresse = "{{ annonce.utilisateur.adresse }}"; // Nous récupérons le contenu du champ adresse
			var lat = 0;
			var lon = 0;
			if(adresse != ""){ // Si l'adresse n'est pas vide
				var geocoder =  new google.maps.Geocoder(); // On instancie le geocoder
				geocoder.geocode( { 'address': adresse}, function(results, status) {
					if (status == google.maps.GeocoderStatus.OK) { // Si l'adresse a été résolue
						lat = results[0].geometry.location.lat(); // On récupère la latitude
						lon = results[0].geometry.location.lng(); // On récupère la longitude
						var MyPosition = {lat: lat, lng:  lon};

						panorama = new google.maps.Map(
								document.getElementById('map'),
								{
									center: MyPosition,
									zoom: 18
								});
						marker = new google.maps.Marker({
							position: MyPosition,
							map: panorama,
							title: adresse
						});
					} else {
						alert("Something got wrong " + status);
					}
				});
			}
		}
	</script>
</head>
<html lang="fr">
	<body>
		<section id="container">
			<!--Barre d'en haut-->
			{% include 'top_bar.html.twig' %}
			<!--Menu de gauche-->
			{% include 'side_menu.html.twig' %}
			<section id="main-content">
				<section class="wrapper">
					<div class="row">
						<div class="main-chart">
							<h1><center class="mt-2">Détail</center></h1>
							<div class="cardannonce w-75 ml-auto mr-auto">
								<div class="alert alert-success msg" role="alert">
									Ajouté au panier !
								</div>
								<div class="container-fliud">
									<div class="row">
										<div class="preview col-md-6">
											<div class="preview-pic tab-content">
												<div class="tab-pane active" id="pic-1"><img src="{{ asset('imgajout/annonces/' ~ annonce.image) }}" /></div>
												<div class="tab-pane" id="pic-2"><img src="{{ asset('imgajout/annonces/' ~ annonce.image) }}" /></div>
												<div class="tab-pane" id="pic-3"><img src="{{ asset('imgajout/annonces/' ~ annonce.image) }}" /></div>
												<div class="tab-pane" id="pic-4"><img src="{{ asset('imgajout/annonces/' ~ annonce.image) }}" /></div>
												<div class="tab-pane" id="pic-5"><img src="{{ asset('imgajout/annonces/' ~ annonce.image) }}" /></div>
											</div>
											<ul class="preview-thumbnail nav nav-tabs">
												<li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="{{ asset('imgajout/annonces/' ~ annonce.image) }}" /></a></li>
												<li><a data-target="#pic-2" data-toggle="tab"><img src="{{ asset('imgajout/annonces/' ~ annonce.image) }}" /></a></li>
												<li><a data-target="#pic-3" data-toggle="tab"><img src="{{ asset('imgajout/annonces/' ~ annonce.image) }}" /></a></li>
												<li><a data-target="#pic-4" data-toggle="tab"><img src="{{ asset('imgajout/annonces/' ~ annonce.image) }}" /></a></li>
												<li><a data-target="#pic-5" data-toggle="tab"><img src="{{ asset('imgajout/annonces/' ~ annonce.image) }}" /></a></li>
											</ul>
										</div>
										<div class="details col-md-6">
											<h3 class="product-title">{{annonce.nom}}</h3>
											<div class="rating">
												<div class="stars">
													<span class="fa fa-star checked"></span>
													<span class="fa fa-star checked"></span>
													<span class="fa fa-star checked"></span>
													<span class="fa fa-star"></span>
													<span class="fa fa-star"></span>
												</div>
												<span class="review-no">41 commentaires</span>
											</div>
											<p class="product-description">{{annonce.description}}</p>
											<h4 class="price">Prix : <span>{{annonce.tarif}} €</span></h4>
											<p class="vote"><strong>91%</strong> des acheteurs ont appréciés ce produit ! <strong>(87 votes)</strong></p>
											<h5 class="sizes">Tailles
												<span class="size" data-toggle="tooltip" title="small">s</span>
												<span class="size" data-toggle="tooltip" title="medium">m</span>
												<span class="size" data-toggle="tooltip" title="large">l</span>
												<span class="size" data-toggle="tooltip" title="xtra large">xl</span>
											</h5>
											<h5 class="colors">Couleurs:
												<span class="color orange not-available" data-toggle="tooltip" title="Not In store"></span>
												<span class="color green"></span>
												<span class="color blue"></span>
											</h5><br>
											<div id="map"></div>
											<br>
											<div class="action">
												<button data-idannonce="{{annonce.id}}" id="ajoutpanier" class="add-to-cart btn btn-default" >Ajouter au panier</button>
												<button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="container">
								<div class="row">
									<div class="col-sm-12 col-sm-offset-1 mt-5" id="logout">
										<div class="page-header">
											<h3 class="reviews">Laisser un commentaire.</h3>
										</div>
										<div class="comment-tabs">
											<ul class="nav nav-tabs" role="tablist">
												<li class="nav-item"><a class="nav-link active" href="#comments-logout" role="tab" data-toggle="tab"><h4 class="reviews">Avis</h4></a></li>
												<li class="nav-item"><a class="nav-link" href="#add-comment" role="tab" data-toggle="tab"><h4 class="reviews">Ajouter un commentaire</h4></a></li>
											</ul>            
											<div class="tab-content">
												<div class="tab-pane active" id="comments-logout">                
													<ul class="media-list listcomment">
													</ul> 
												</div>
												<div class="tab-pane" id="add-comment">
													<div class="form-horizontal" id="commentForm" role="form"> 
													<div class="alert alert-success avissucces" role="alert">
														Merci pour votre avis !
													</div>
													<div class="alert alert-danger aviserr" role="alert">
														Veuillez renseigner le commentaire et la note.
													</div>
														<div class="form-group">
															<div class="rating"> 
																<input type="radio" name="rating" value="5" id="5">
																<label for="5">☆</label> 
																<input type="radio" name="rating" value="4" id="4">
																<label for="4">☆</label>
																<input type="radio" name="rating" value="3" id="3">
																<label for="3">☆</label>
																<input type="radio" name="rating" value="2" id="2">
																<label for="2">☆</label> 
																<input type="radio" name="rating" value="1" id="1">
																<label for="1">☆</label>
															</div>
															<label for="email" class="col-sm-2 control-label"><h1>Commentaire</h1></label>
															<div class="col-sm-10">
																<textarea class="form-control" name="addComment" id="addComment" rows="5"></textarea>
															</div>
														</div>
														<div class="form-group">
															<div class="col-sm-offset-2 col-sm-10">                    
																<button class="btn btn-success btn-circle text-uppercase" type="submit" id="submitComment"><span class="glyphicon glyphicon-send"></span> Envoyer</button>
															</div>
														</div>            
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div> 	 
					</div>
				</section> 
			</section>
		</section>
		<script>
			$(document).ready(function(){
				$('.avissucces').hide();
				$('.aviserr').hide();
				afficheComments();
			});
			$('#submitComment').on('click', function(){
				addComment();
			});
			function afficheComments(){
				$.get("/ProjetHitema/public/index.php/getavis/" + {{annonce.id}}, function(data) {
					const avis = JSON.parse(data);
					let html = '';
					$.each(avis, function( index, value ) {
						let rating = ``;
						if(value['note']){
							for(let i=0; i<5; i++){
								if(i<value['note'])
									rating+= `<span class="fa fa-star checked"></span>`;
								else
									rating+= `<span class="fa fa-star"></span>`;
							}
						}
						let date = value['dateavis'].split('T')[0];
						html+= `<li class="media">
							<a class="pull-left">
							<img style="height:auto !important; padding:15px;" class="media-object rounded-circle mt-2" src="{{asset('build/img/profile-128-128.png')}}" alt="profile">
							</a>
							<div class="card-body">
								<div style="border-radius: 10px;background-color: white;padding: 15px;">
									<h4 class="media-heading text-uppercase reviews">` + value['utilisateur']['nom'] +  ` ` + value['utilisateur']['prenom'] + `</h4>
									<ul class="text-uppercase reviews list-inline float-right">
										<li class="dd">` + date.split('-')[2] + `/</li>
										<li class="mm">` + date.split('-')[1] + `/</li>
										<li class="aaaa">` + date.split('-')[0] + `</li>
									</ul>
									<p class="media-comment">
										` + value['commentaire'] + `
									</p>
									` + rating + `
								</div>              
							</div>
						</li>`
					});
					$('.listcomment').html(html);
				});
			}

			function addComment(){
				let note = $('input[name="rating"]:checked').val();
				let comment = $('#addComment').val();
				if(note && comment){
					$.get("/ProjetHitema/public/index.php/avis/{{annonce.id}}/" + note + "/" + comment, function() {
						afficheComments();
						$('.avissucces').fadeIn('slow');
						$('.avissucces').delay(2000).fadeOut('slow');
					});
				}else{
					$('.aviserr').fadeIn('slow');
					$('.aviserr').delay(2000).fadeOut('slow');
				}
				
			}
			
		</script>
	</body>
</html>
