<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Panier</title>
	{% include 'header.html.twig' %}
</head>
<html lang="en">
	<body>
		<section
			id="container">
			<!--Barre d'en haut-->
			{% include 'top_bar.html.twig' %}
			<!--Menu de gauche-->
			{% include 'side_menu.html.twig' %}
			<!--Barre de recherche accueil-->
			<section id="main-content">
				<section class="wrapper">
					<div class="row">
						<div class="main-chart w-100">
							<h1 class="titre-panier">
								<center>Panier</center>
							</h1>
							<!--<div class="i-empty-basket hidden-xs-up" data-cy="empty-basket">
								<br>
								Votre panier est actuellement vide.
							</div>-->
							<div class="content_payment row w-75 mt-5 ml-auto mr-auto">
								<div class="col-md-8">
									{% for onePanier in panier %}
										<div class="mt-5 basket-item row i-basket-item basket-item panierelem">
											<div class="basket-item__image col-4 col-lg-2">
												<img alt="Hand Plane Hydro Body Pro Surfer" src="{{ asset('imgajout/annonces/' ~ onePanier.annonce.image) }}" width="120" height="120">
											</div>
											<div class="details col-8 col-lg-10">
												<div class="row">
													<div class="col-lg-7 col-md-12 basket-item__details">
														<h2 class="basket-item__title">
															<a href="detailannonce/{{onePanier.annonce.id}}" title="{{onePanier.annonce.nom}}">{{onePanier.annonce.nom}}</a>
														</h2>
														<h3 class="basket-item__meta">
															Blue</h3>
														<h3 class="basket-item__meta">Taille Unique</h3>
													</div>
													<div class="col-md-6 col-lg-3">
														<div class="cart-qty">
															<a data-panierid="{{onePanier.id}}" class="remove btn-quantite cart-qty__btn cart-qty__btn--down i-basket-change-quantity" title="Decrease">-</a>
															<input type="number" max="30" min="1" name="" class="quantite{{onePanier.id}} p-0 cart-qty__input i-basket-quantity" value="{{onePanier.quantite}}">
															<a data-panierid="{{onePanier.id}}" class="add btn-quantite cart-qty__btn cart-qty__btn--up i-basket-change-quantity" title="Increase">+</a>
														</div>
													</div>
													<div class="col-md-6 col-lg-2">
														<div class="price">
															<h4 data-price="{{onePanier.annonce.tarif * onePanier.quantite}}" class="price--fullprice i-product-full-price price price{{onePanier.id}}">{{onePanier.annonce.tarif * onePanier.quantite}}&nbsp;€</h4>
														</div>
														<a class="basket-item__remove i-basket-remove supprpanier" style="cursor:pointer;" data-idpanier="{{onePanier.id}}" title="Remove From Basket">Retirer</a>
													</div>
												</div>
											</div>
										</div>
										<input type="hidden" class="prixunitaire{{onePanier.id}}" value="{{onePanier.annonce.tarif}}">
									{% endfor %}
									
								</div>
								<div class="col-md-4 mt-5">
									<section class="basket-summary m-0">
										<p class="basket-summary__line">Sous-total
											<span class="totalpanier basket-summary__value i-basket-sub-total"></span>
										</p>
										<p class="basket-summary__line">TVA
											<span class="basket-summary__value i-basket-vat">16 €</span>
										</p>
										<h2 class="basket_summary__total">Coût total <span class="totalpanier basket-summary__value i-basket-total" data-cy="basket-total"></span>
										</h2>
									</section>
									<form class="promo-code mt-3" method="POST" action="#">
										<h5 class="title--small promo-code__title">Ajouter un code promotionnel</h5>
										<p class="promo-code__intro">Un code par commande</p>
										<input name="promocode" placeholder="Code Promo" type="text" class="input promo-code__input" data-cy="promo-code-field">
										<a style="background-color:lightgreen;" href="#" class="w-100 centered i-checkout-button btn btn--primary">
											Appliquer
										</a>
									</form>
									<button style="background-color:skyblue;" class="w-100 btn btn--primary centered i-checkout-button payer" title="Procédez au règlement final"
									type="button" data-toggle="collapse" data-target="#paypal-button-container" aria-expanded="false" aria-controls="collapseExample">Payer</button>
									<br><br>
									<div class="collapse" id="paypal-button-container"></div>
									<center><a href="{{ path('oc_accueil_index') }}">
										<button class="btn btn--secondary centered" title="Poursuivre vos achats">Poursuivre vos achats</button>
									</a></center><br>
								</div>
							</div>
						</div>
					</div>
				</section>
			</section>
		</section>
		<script>
			$(document).ready(function(){
				setTotal();
				paypal.Buttons({
					createOrder: function (data, actions) {
						let price = Number.parseFloat($('.totalpanier').html().replace(' €', '')).toFixed(2);
					return fetch('create-order/' + price, {
						method: 'POST'
					}).then(function(res) {
						return res.json();
					}).then(function(data) {
						return data.id;
					});
					},
					onApprove: function (data, actions) {
						$('.titre-panier').remove();
						$('.content_payment').html(`<img class="ml-auto mr-auto" alt="spinner" src="{{ asset('build/img/spinner_payment.gif') }}" width="400" height="400">`)
					return fetch('capture-order/' + data.orderID, {
						method: 'POST'
					}).then(function(res) {
						if (!res.ok) {
							alert('Something went wrong');
						}else{
							$('.content_payment').html(`<div class="jumbotron text-center mr-auto ml-auto">
									<h1 class="display-3">Paiement effectué !</h1>
									<p class="lead">Le paiement à été confirmé, vous recevrez vos produits d'ici peu de temps.</p>
									<hr>
									<p>
										Des problèmes ? <a href="">Nous contacter</a>
									</p>
									<p class="lead">
										<a class="btn btn-primary btn-sm" href="{{ path('oc_accueil_index') }}" role="button">Poursuivez vos achats</a>
									</p>
								</div>`);
							$.get("{{ path('oc_paypal_setpaye') }}", function() {
							});
							afficherPanier();
						}
					});
					}
				}).render('#paypal-button-container');
			});

			$('.content_payment').on('click', '.supprpanier',function(){
				const idannonce = $(this).data('idpanier');
				const elem = $(this);
				$.get("/ProjetHitema/public/index.php/supprimepanier/" + idannonce, function() {
					elem.parents('.panierelem').fadeOut(300, function() { 
						$(this).remove();setTotal(); 
						afficherPanier();
					});
				});
			});

			$('.add').on('click', function(){
				const idpanier = $(this).data('panierid');
				if($('.quantite' + idpanier).val()<30){
					$.get("ajoutquantitepanier/" + idpanier + "/ajout", function(data) {
							$('.quantite' + idpanier).val(parseInt($('.quantite' + idpanier).val())+1);
							let prix = parseInt($('.price' + idpanier).data('price')) + parseInt($('.prixunitaire' + idpanier).val());
							$('.price' + idpanier).html( prix + " €");
							$('.price' + idpanier).data('price', prix);
							setTotal();
							afficherPanier(); // fonction dans top_bar.html.twig
					});
				}
			});
			$('.remove').on('click', function(){
				const idpanier = $(this).data('panierid');
				if($('.quantite' + idpanier).val()>1){
					$.get("ajoutquantitepanier/" + idpanier + "/suppr", function(data) {
							$('.quantite' + idpanier).val(parseInt($('.quantite' + idpanier).val())-1);
							let prix = parseInt($('.price' + idpanier).data('price')) - parseInt($('.prixunitaire' + idpanier).val());
							$('.price' + idpanier).html( prix + " €");
							$('.price' + idpanier).data('price', prix);
							setTotal();
							afficherPanier(); // fonction dans top_bar.html.twig
					});
				}
			});

			function setTotal(){
				let total = 0;
				$( ".price" ).each(function( index ) {
					if($( this ).data('price') && $( this ).data('price') !== undefined)
						total += $( this ).data('price');
				});
				$('.totalpanier').html(total + " €");
			}

		</script>
	</body>
</html>
